{{ partial "head.html" . }}

{{ partial "nav.html" . }}

</br>
<div class="container">
    <main>
        <header>
            <div class="jumbotron">
                <h1 class="display-4">Dokument</h1>
                <hr class="my-4">
                <p class="lead">Här samlar vi alla viktiga dokument så som arvoden och domarkvitton.</p>
            </div>
        </header>
        {{.Content}}
        <br>

        <div class="news-list">
            {{ range .Pages }} {{ if eq .Type "post" }}
            <article class="news-post">
                {{if .Params.img }}
                <!-- <img class="news-img" src="{{ .Params.img }}" alt="Card image cap"
                    onerror="this.src='{{ .Site.Params.FallbackImg }}';"> -->
                <div class="news-img" style="background-image: url('{{ .Params.img }}')"></div>
                {{ else }}
                <div class="news-img" style="background-image: url('{{ .Site.Params.FallbackImg }}')"></div>
                {{ end }}
                <div class="news-body">
                    <a href="{{ .Permalink }}">
                        <h3 class="card-title">{{ .Title }}</h3>
                    </a>
                    <p class="news-text">{{ .Description }}</p>

                    <small class="text-muted">Av:
                        {{if .Params.Author }}
                        {{ .Params.Author }}
                        {{ else }}
                        NIDK
                        {{ end }},

                        {{ .Date.Day }}
                        {{ index $.Site.Data.månader (printf "%d" .Date.Month) }} {{ .Date.Year }}</small>
                </div>
            </article>
            {{ end }}
            {{ end }}
        </div>
    </main>
</div>

</br>

{{ partial "footer.html" . }}