<div class="container-fluid" id="signup">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <h2 id="bli-medlem" class="sectiontitle">Bli Medlem</h2>
            <div class="contactform">
                <form name="contact" method="POST" data-netlify="true" action="/tack/">
                    <label>Namn: <input type="text" name="name" class="form-control" /></label>
                    <label>Email: <input type="email" name="email" class="form-control" /></label>
                    <label>Ämne: <input type="text" name="subject" class="form-control" /></label>
                    <label>Meddelande: <textarea name="message" class="form-control"></textarea></label>
                    <button class="btn btn-outline-secondary" type="submit"><i class="far fa-envelope"></i>
                        Skicka</button>
                </form>
            </div>
        </div>
    </div>
</div>